<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js + TypeScript App"/>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import HelloWorld from './components/HelloWorld.vue'
import sc from 'socketcluster-client'

@Component({
  components: {
    HelloWorld
  },
  mounted () {
    const socket = new sc.AGClientSocket({
      hostname: 'localhost',
      port: 9000,
      path: '/'
    });

    (async () => {
      // Set up a loop to handle remote transmitted events.
      for await (const data of socket.receiver('customRemoteEvent')) {
        console.log(data)
      }
    })();

    (window as any).socket = socket

    // Use this from browser console to test
    // socket.transmit('customRemoteEvent', 123);
  }
})
export default class App extends Vue {}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
